{% extends 'estudiante/plantilla.html' %}

{% block cabecera %}

<!-- Bootstrap -->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<!-- iCheck -->
<link href="{{url_for('static', filename='vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
<!-- Datatables -->

<link href="{{url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}"
    rel="stylesheet">

    <!-- FullCalendar -->
    <link href="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.print.css')}}" rel="stylesheet" media="print">



{% endblock %}

{% block titulo_contenido %}
<h3>Detalle de la Sesión de 
    {% if sesion %}
        {{sesion.seccion}}
    {% endif %}
</h3>
{% endblock %}

{% block contenido %}
<div class="x_content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                
                <p class="text-muted font-13 m-b-30">
                    Tabla de Sesiones
                </p>
  

                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if sesion %}
                                <div class="row">
                                    <div class="col-6"><h2>Seccion: {{sesion.seccion}}</h2></div>
                                    <div class="col-6"><h2>Nivel: {{sesion.nivel}}</h2></div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><h2>Fecha: {{sesion.fecha}}</h2></div>
                                    <div class="col-6"><h2>Hora: {{sesion.hora}}</h2></div>
                                </div>
                            {% endif %}

                            
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                
                            {% if detalle_sesion %}
                                {% if detalle_sesion.estado_registro == 'Inscrito' %}
                                    <p class="text-muted font-13 m-b-30">Estado de Registro: <strong style="color: blue;"> Inscrito </strong></p>
                                    <p class="text-muted font-13 m-b-30"><strong>Link de la Clase: </strong>
                                        {% if sesion %}
                                            {% if sesion.link %}
                                                <a target="_blank" href="{{sesion.link}}">{{sesion.link}}</a>
                                            {% else %}
                                                <span> Link de la sesión no disponible por el momento</span>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    {% if tarea %}
                                        <h2>Tarea Asignada para la clase:</h2>
                                        <p><strong>Descripcion: </strong>{{tarea.descripcion}}</p>
                                        {% if tarea.material_adicional %}
                                            <a href="{{ url_for('docente_bp.download_file_h', filename=tarea.material_adicional) }}" target="_blank">
                                                <button class="btn btn-primary btn-sm">Ver Archivo</button>
                                            </a>
                                        {% else %}
                                            <p>Sin Material Adicional</p>
                                        {% endif %}

                                        <p>_________________________________________________________________</p>
                                        {% if material_entregado %}
                                        <a href="{{ url_for('docente_bp.download_file_h', filename=material_entregado) }}" target="_blank">
                                            <button class="btn btn-primary btn-sm">Ver Tarea Subida</button>
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                            data-target=".modal_agregar_tarea" id="boton_agregar_tarea">Modificar Tarea <i class="fa fa-edit"></i></button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                            data-target=".modal_agregar_tarea" id="boton_agregar_tarea">Subir Tarea <i class="fa fa-check"></i></button>

                                        {% endif %}

                                    {% else %}
                                        <h2>Sin tarea asignada para la clase</h2>
                                    {% endif %}
                                    
                                    
                                {% elif detalle_sesion.estado_registro == 'Asistio' %}
                                    <p class="text-muted font-13 m-b-30">Estado de Registro: <strong style="color: green;"> Asistio</strong></p>
                                    <p class="text-muted font-13 m-b-30"><strong>Calificación: </strong>
                                        {% if detalle_sesion.calificacion == '0' %}
                                            <span> Sin Calificación disponible por el momento</span>
                                        {% elif detalle_sesion.calificacion > 84 %}
                                            <span style="color: green;">{{detalle_sesion.calificacion}} Aprobado</span>
                                        {% else %}
                                            <span style="color: red;">{{detalle_sesion.calificacion}} Reprobado</span>
                                        {% endif %}
                                    </p>
                                    <p class="text-muted font-13 m-b-30"></p>
                                    
                                {% else %}
                                    <p class="text-muted font-13 m-b-30">Estado de Registro: <strong style="color: red;"> Falto</strong></p>
                                    <p class="text-muted font-13 m-b-30"><strong>Calificación: </strong><span style="color: red;">0</span></p>
                                    
                                    
                                {% endif %}
                            
                            {% endif %}
                
                        </div>
                    </div>
                </div>

                <div class="modal fade modal_agregar_tarea" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Agregar o modificar Tarea</h4>
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <form class="form-label-left input_mask formulario_sesiones"
                                    action="/estudiante/sesiones/tarea/{{sesion.id_sesion}}" method="POST" enctype="multipart/form-data">
                                    

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Tarea:</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="file" name="material" required>
                                        </div>
                                    </div>

                                    

                                    <div class="ln_solid"></div>
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            
                                            <button type="submit" class="btn btn-success">Enviar Tarea</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <!--button type="button" class="btn btn-primary">Save changes</button-->
                            </div>

                        </div>
                    </div>
                </div>

                


                

                


            </div>
        </div>
    </div>
</div>










{% endblock %}

{% block scripts_final %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nav_grupo = document.getElementById('nav_grupo_sesiones');
        nav_grupo.classList.add('active');
        const bloque = document.querySelector('#nav_grupo_sesiones ul');
        bloque.setAttribute('style', 'display: block;')
        const nav_sesiones = document.getElementById('nav_sesiones_dia');
        nav_sesiones.classList.add('current-page');
    });
</script>




<!-- iCheck -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>
<!-- Datatables -->
<script src="{{url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/jszip/dist/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js')}}"></script>

<!-- FullCalendar -->
<script src="{{url_for('static', filename='vendors/moment/min/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.js')}}"></script>
{% endblock %}