{% extends 'administrador/plantilla.html' %}

{% block cabecera %}

<!-- Bootstrap -->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<!-- iCheck -->
<link href="{{url_for('static', filename='vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
<!-- Datatables -->

<link href="{{url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}"
    rel="stylesheet">


{% endblock %}

{% block titulo_contenido %}
<h3>Estudiantes Registrados en el Sistema</h3>
{% endblock %}

{% block contenido %}
<div class="x_content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <p class="text-muted font-13 m-b-30">
                    Tabla de Usuarios Estudiantes
                </p>
                <button type="button" class="btn btn-success btn-xs" data-toggle="modal"
                    data-target=".modal_agregar_administrador">Agregar Estudiante</button>

                <div class="modal fade modal_agregar_administrador" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Crear Estudiante</h4>
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-label-left input_mask" action="/administrador/estudiantes/crear" method="POST" enctype="multipart/form-data">

                                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nombres" name="nombres"
                                            pattern="^[A-Za-zñÑ]+(?: [A-Za-zñÑ]+)*$"
                                            title="Solo se permiten letras y una sola separación por palabras"
                                            onfocus="this.setAttribute('title', 'Ingrese solo letras y una sola separación entre palabras')" required>
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                                        <input type="text" class="form-control" id="inputSuccess3" placeholder="Apellidos" name="apellidos"
                                            pattern="^[A-Za-zñÑ]+(?: [A-Za-zñÑ]+)*$"
                                            title="Solo se permiten letras y una sola separación por palabras"
                                            onfocus="this.setAttribute('title', 'Ingrese solo letras y una sola separación entre palabras')" required>
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                                        <input type="email" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Correo" name="correo"
                                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                            title="Ingrese un correo válido con @" 
                                            onfocus="this.setAttribute('title', 'Ejemplo: usuario@email.com')" required>
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                                        <input type="number" class="form-control" id="inputSuccess5" placeholder="Telefono" name="telefono"
                                            pattern="[0-9]{8}" title="Solo números de 8 dígitos"
                                            onfocus="this.setAttribute('title', 'Ingrese solo números de 8 dígitos')" required>
                                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                    </div>

                                    <div class="form-group row" hidden>
                                        <label class="col-form-label col-md-3 col-sm-3 ">Nombre de Usuario</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text" class="form-control" placeholder="Nombre de Usuario" name="nombre_usuario"
                                                value="a" hidden>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Carnet</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" placeholder="Número de Carnet" name="carnet" title="Ingresa el número de carnet (máximo 10 dígitos)" required>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <select class="form-control" name="departamento_carnet" title="Selecciona el departamento donde se emitió tu carnet">
                                                <option value="LP" {% if administrador.extension == 'LP' %} selected {% endif %}>LP</option>
                                                <option value="CBBA" {% if administrador.extension == 'CBBA' %} selected {% endif %}>CBBA</option>
                                                <option value="SCZ" {% if administrador.extension == 'SCZ' %} selected {% endif %}>SCZ</option>
                                                <option value="PT" {% if administrador.extension == 'PT' %} selected {% endif %}>PT</option>
                                                <option value="OR" {% if administrador.extension == 'OR' %} selected {% endif %}>OR</option>
                                                <option value="TJ" {% if administrador.extension == 'TJ' %} selected {% endif %}>TJ</option>
                                                <option value="PN" {% if administrador.extension == 'PN' %} selected {% endif %}>PN</option>
                                                <option value="BN" {% if administrador.extension == 'BN' %} selected {% endif %}>BN</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Nivel</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <select class="form-control" name="nombre_nivel">
                                                <option>Escoge una Opción</option>
                                                <option value="Basico">Basico</option>
                                                <option value="Intermedio">Intermedio</option>
                                                <option value="Avanzado">Avanzado</option>
                                            </select>
                                            
                                            <!--input type="text" class="form-control" placeholder="Telefono Personal" name="telefono_personal"-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Rango</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <select class="form-control" name="rango_nivel">
                                                <option>Escoge una Opción</option>
                                                <option value="1-5">1 - 5</option>
                                                <option value="6-15">6 - 15</option>
                                                <option value="11-15">11 - 15</option>
                                                <option value="16-30">16 - 30</option>
                                                <option value="31-50">31 - 50</option>
                                            </select>
                                            
                                            <!--input type="text" class="form-control" placeholder="Telefono Personal" name="telefono_personal"-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Nombres del Titular</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" placeholder="Nombres del Titular" name="nombres_titular">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Telefono Titular</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="number" class="form-control" placeholder="Telefono del Titular" name="celular_titular">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Ocupación del Titular</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text" class="form-control" placeholder="Ejemplo: Ingeniero, Comerciante, etc." name="ocupacion_tutor" title="Ingresa la ocupación del titular. Puede contener letras y números.">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Parentesco del Titular</label>
                                        <div class="col-md-9 col-sm-9">
                                            <select class="form-control" name="parentesco_tutor" title="Selecciona el parentesco con el titular">
                                                <option>Escoge una Opción</option>
                                                <option value="Madre">Madre</option>
                                                <option value="Padre">Padre</option>
                                                <option value="Titular">Titular</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Número de Cuenta</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text" class="form-control" placeholder="Ejemplo: 10000" name="numero_cuenta" title="Ingresa solo números para el número de contrato" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Número de Contrato</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text" class="form-control" placeholder="Ejemplo: 266" name="numero_contrato" title="Ingresa solo números para el número de contrato" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Fecha de Inicio del Contrato</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="date" class="form-control" name="inicio_contrato" title="Selecciona la fecha de inicio del contrato">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Fecha de Expiración del Contrato</label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="date" class="form-control" name="fin_contrato" title="Selecciona la fecha de expiración del contrato">
                                        </div>
                                    </div>

                                    <div class="form-group row" hidden>
                                        <label class="col-form-label col-md-3 col-sm-3">Contraseña<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9">
                                            <input class="form-control" type="password" id="password1" name="contrasena" value="a" hidden/>
                                            
                                            
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="col-form-label col-md-3 col-sm-3">Sección Correspondiente</label>
                                        <div class="col-md-9 col-sm-9">
                                            <select class="form-control" name="seccion_correspondiente" required>
                                                <option value="Welcome" selected>Welcome</option>
                                                <option value="Essential">Essential</option>
                                                <option value="Working">Working</option>
                                                <option value="Speak Out">Speak Out</option>
                                                <option value="Test Escrito">Test Escrito</option>
                                                <option value="Test Oral">Test Oral</option>
                                            </select>
                                        </div>
                                        
                                        
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="col-form-label col-md-3 col-sm-3">Nivel de la Sección Correspondiente</label>
                                        <div class="col-md-9 col-sm-9">
                                            <select class="form-control" name="nivel_seccion_correspondiente" required>
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                                <option value="32">32</option>
                                                <option value="33">33</option>
                                                <option value="34">34</option>
                                                <option value="35">35</option>
                                                <option value="36">36</option>
                                                <option value="37">37</option>
                                                <option value="38">38</option>
                                                <option value="39">39</option>
                                                <option value="40">40</option>
                                                <option value="41">41</option>
                                                <option value="42">42</option>
                                                <option value="43">43</option>
                                                <option value="44">44</option>
                                                <option value="45">45</option>
                                                <option value="46">46</option>
                                                <option value="47">47</option>
                                                <option value="48">48</option>
                                                <option value="49">49</option>
                                                <option value="50">50</option>

                                            </select>
                                        </div>
                                        
                                        
                                    </div>
                                    
                                    <div class="ln_solid"></div>
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                            <button type="submit" class="btn btn-success">Crear Estudiante</button>
                                        </div>
                                    </div>

                                </form>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <!--button type="button" class="btn btn-primary">Save changes</button-->
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <a href="/administrador/usuarios/estudiantes/pdf" target="_blank"><button class="btn btn-primary btn-sm">Generar Reporte Estudiantes</button></a>
                </div>

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Telefono</th>
                            <th>Carnet</th>
                            <th>Nombre de Usuario</th>
                            <th>Correo</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if estudiantes %}
                            {% for estudiante in estudiantes %}
                            <tr>

                                <td>{{estudiante.id_estudiante}}</td>
                                <td>{{estudiante.nombres}}</td>
                                <td>{{estudiante.apellidos}}</td>
                                <td>{{estudiante.telefono}}</td>
                                <td>{{estudiante.carnet_identidad}}</td>
                                <td>{{estudiante.nombre_usuario}}</td>
                                <td>{{estudiante.correo}}</td>
                                
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal"
                                        data-target=".modal_editar_estudiante_{{ estudiante.id_estudiante }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a href="/administrador/administradores/eliminar/{{ estudiante.id_estudiante }}">
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                    </a>
                                </td>

                            </tr>

                            {% endfor %}
                        {% endif %}

                        </tbody>
                </table>
                {% if estudiantes %}
                {% for estudiante in estudiantes %}
                    <div class="modal fade modal_editar_estudiante_{{ estudiante.id_estudiante }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
            
                                <div class="modal-header">
                                    <h4 class="modal-title">Editar Estudiante</h4>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                </div>
            
                                <div class="modal-body">
                                    <form class="formulario_administrador" action="/administrador/editar/estudiante/{{ estudiante.id_estudiante }}" method="POST" enctype="multipart/form-data">
                                        
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" name="nombres" value="{{ estudiante.nombres }}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control" name="apellidos" value="{{ estudiante.apellidos }}">
                                            </div>
                                        </div>
                                
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Correo</label>
                                                <input type="email" class="form-control" name="correo" value="{{ estudiante.correo }}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Teléfono</label>
                                                <input type="number" class="form-control" name="telefono" min="60000000" max="79999999" value="{{ estudiante.telefono }}">
                                            </div>
                                        </div>
                                
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Carnet</label>
                                                <input type="text" class="form-control" name="carnet" value="{{ estudiante.carnet_identidad }}" required>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Departamento</label>
                                                <select class="form-control" name="departamento_carnet">
                                                    <option value="LP" {% if administrador.extension == 'LP' %} selected {% endif %}>LP</option>
                                                    <option value="CBBA" {% if administrador.extension == 'CBBA' %} selected {% endif %}>CBBA</option>
                                                    <option value="SCZ" {% if administrador.extension == 'SCZ' %} selected {% endif %}>SCZ</option>
                                                    <option value="PT" {% if administrador.extension == 'PT' %} selected {% endif %}>PT</option>
                                                    <option value="OR" {% if administrador.extension == 'OR' %} selected {% endif %}>OR</option>
                                                    <option value="TJ" {% if administrador.extension == 'TJ' %} selected {% endif %}>TJ</option>
                                                    <option value="PN" {% if administrador.extension == 'PN' %} selected {% endif %}>PN</option>
                                                    <option value="BN" {% if administrador.extension == 'BN' %} selected {% endif %}>BN</option>
                                                </select>
                                            </div>
                                        </div>
                                
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Nombre del Titular</label>
                                                <input type="text" class="form-control" name="nombres_titular" value="{{ estudiante.nombres_titular }}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Teléfono del Titular</label>
                                                <input type="text" class="form-control" name="celular_titular" value="{{ estudiante.celular_titular }}">
                                            </div>
                                        </div>
                                
                                        <div class="form-group">
                                            <label>Ocupación del Titular</label>
                                            <input type="text" class="form-control" name="ocupacion_tutor" value="{{ estudiante.ocupacion_tutor }}">
                                        </div>

                                        <div class="form-group row">
                                            <label for="" class="col-form-label col-md-3 col-sm-3">Sección Correspondiente</label>
                                            <div class="col-md-9 col-sm-9">
                                                <select class="form-control" name="seccion_correspondiente" required>
                                                    <option value="Welcome" {% if estudiante.seccion_correspondiente == 'Welcome' %}selected{% endif %}>Welcome</option>
                                                    <option value="Essential" {% if estudiante.seccion_correspondiente == 'Essential' %}selected{% endif %}>Essential</option>
                                                    <option value="Working" {% if estudiante.seccion_correspondiente == 'Working' %}selected{% endif %}>Working</option>
                                                    <option value="Speak Out" {% if estudiante.seccion_correspondiente == 'Speak Out' %}selected{% endif %}>Speak Out</option>
                                                    <option value="Test Escrito" {% if estudiante.seccion_correspondiente == 'Test Escrito' %}selected{% endif %}>Test Escrito</option>
                                                    <option value="Test Oral" {% if estudiante.seccion_correspondiente == 'Test Oral' %}selected{% endif %}>Test Oral</option>
                                                </select>
                                            </div>
                                            
                                            
                                        </div>
    
                                        <div class="form-group row">
                                            <label for="" class="col-form-label col-md-3 col-sm-3">Nivel de la Sección Correspondiente</label>
                                            <div class="col-md-9 col-sm-9">
                                                <select class="form-control" name="nivel_seccion_correspondiente" required>
                                                    <option value="0" {% if estudiante.nivel_correspondiente == "0" %}selected{% endif %}>0</option>
                                                    <option value="1" {% if estudiante.nivel_correspondiente == "1" %}selected{% endif %}>1</option>
                                                    <option value="2" {% if estudiante.nivel_correspondiente == "2" %}selected{% endif %}>2</option>
                                                    <option value="3" {% if estudiante.nivel_correspondiente == "3" %}selected{% endif %}>3</option>
                                                    <option value="4" {% if estudiante.nivel_correspondiente == "4" %}selected{% endif %}>4</option>
                                                    <option value="5" {% if estudiante.nivel_correspondiente == "5" %}selected{% endif %}>5</option>
                                                    <option value="6" {% if estudiante.nivel_correspondiente == "6" %}selected{% endif %}>6</option>
                                                    <option value="7" {% if estudiante.nivel_correspondiente == "7" %}selected{% endif %}>7</option>
                                                    <option value="8" {% if estudiante.nivel_correspondiente == "8" %}selected{% endif %}>8</option>
                                                    <option value="9" {% if estudiante.nivel_correspondiente == "9" %}selected{% endif %}>9</option>
                                                    <option value="10" {% if estudiante.nivel_correspondiente == "10" %}selected{% endif %}>10</option>
                                                    <option value="11" {% if estudiante.nivel_correspondiente == "11" %}selected{% endif %}>11</option>
                                                    <option value="12" {% if estudiante.nivel_correspondiente == "12" %}selected{% endif %}>12</option>
                                                    <option value="13" {% if estudiante.nivel_correspondiente == "13" %}selected{% endif %}>13</option>
                                                    <option value="14" {% if estudiante.nivel_correspondiente == "14" %}selected{% endif %}>14</option>
                                                    <option value="15" {% if estudiante.nivel_correspondiente == "15" %}selected{% endif %}>15</option>
                                                    <option value="16" {% if estudiante.nivel_correspondiente == "16" %}selected{% endif %}>16</option>
                                                    <option value="17" {% if estudiante.nivel_correspondiente == "17" %}selected{% endif %}>17</option>
                                                    <option value="18" {% if estudiante.nivel_correspondiente == "18" %}selected{% endif %}>18</option>
                                                    <option value="19" {% if estudiante.nivel_correspondiente == "19" %}selected{% endif %}>19</option>
                                                    <option value="20" {% if estudiante.nivel_correspondiente == "20" %}selected{% endif %}>20</option>
                                                    <option value="21" {% if estudiante.nivel_correspondiente == "21" %}selected{% endif %}>21</option>
                                                    <option value="22" {% if estudiante.nivel_correspondiente == "22" %}selected{% endif %}>22</option>
                                                    <option value="23" {% if estudiante.nivel_correspondiente == "23" %}selected{% endif %}>23</option>
                                                    <option value="24" {% if estudiante.nivel_correspondiente == "24" %}selected{% endif %}>24</option>
                                                    <option value="25" {% if estudiante.nivel_correspondiente == "25" %}selected{% endif %}>25</option>
                                                    <option value="26" {% if estudiante.nivel_correspondiente == "26" %}selected{% endif %}>26</option>
                                                    <option value="27" {% if estudiante.nivel_correspondiente == "27" %}selected{% endif %}>27</option>
                                                    <option value="28" {% if estudiante.nivel_correspondiente == "28" %}selected{% endif %}>28</option>
                                                    <option value="29" {% if estudiante.nivel_correspondiente == "29" %}selected{% endif %}>29</option>
                                                    <option value="30" {% if estudiante.nivel_correspondiente == "30" %}selected{% endif %}>30</option>
                                                    <option value="31" {% if estudiante.nivel_correspondiente == "31" %}selected{% endif %}>31</option>
                                                    <option value="32" {% if estudiante.nivel_correspondiente == "32" %}selected{% endif %}>32</option>
                                                    <option value="33" {% if estudiante.nivel_correspondiente == "33" %}selected{% endif %}>33</option>
                                                    <option value="34" {% if estudiante.nivel_correspondiente == "34" %}selected{% endif %}>34</option>
                                                    <option value="35" {% if estudiante.nivel_correspondiente == "35" %}selected{% endif %}>35</option>
                                                    <option value="36" {% if estudiante.nivel_correspondiente == "36" %}selected{% endif %}>36</option>
                                                    <option value="37" {% if estudiante.nivel_correspondiente == "37" %}selected{% endif %}>37</option>
                                                    <option value="38" {% if estudiante.nivel_correspondiente == "38" %}selected{% endif %}>38</option>
                                                    <option value="39" {% if estudiante.nivel_correspondiente == "39" %}selected{% endif %}>39</option>
                                                    <option value="40" {% if estudiante.nivel_correspondiente == "40" %}selected{% endif %}>40</option>
                                                    <option value="41" {% if estudiante.nivel_correspondiente == "41" %}selected{% endif %}>41</option>
                                                    <option value="42" {% if estudiante.nivel_correspondiente == "42" %}selected{% endif %}>42</option>
                                                    <option value="43" {% if estudiante.nivel_correspondiente == "43" %}selected{% endif %}>43</option>
                                                    <option value="44" {% if estudiante.nivel_correspondiente == "44" %}selected{% endif %}>44</option>
                                                    <option value="45" {% if estudiante.nivel_correspondiente == "45" %}selected{% endif %}>45</option>
                                                    <option value="46" {% if estudiante.nivel_correspondiente == "46" %}selected{% endif %}>46</option>
                                                    <option value="47" {% if estudiante.nivel_correspondiente == "47" %}selected{% endif %}>47</option>
                                                    <option value="48" {% if estudiante.nivel_correspondiente == "48" %}selected{% endif %}>48</option>
                                                    <option value="49" {% if estudiante.nivel_correspondiente == "49" %}selected{% endif %}>49</option>
                                                    <option value="50" {% if estudiante.nivel_correspondiente == "50" %}selected{% endif %}>50</option>
    
                                                </select>
                                            </div>
                                            
                                            
                                        </div>
                                
                                        <div class="form-group text-center mt-4">
                                            <button class="btn btn-secondary" type="reset">Limpiar Formulario</button>
                                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                        </div>
                                    </form>
                                </div>
                                
            
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
            
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}






            </div>
        </div>
    </div>
</div>









{% block scripts_final %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nav_grupo = document.getElementById('nav_grupo_usuarios');
        nav_grupo.classList.add('active');
        const bloque = document.querySelector('#nav_grupo_usuarios ul');
        bloque.setAttribute('style', 'display: block;')
        const nav_administradores = document.getElementById('nav_estudiantes');
        nav_administradores.classList.add('current-page');
    });
</script>
<script>
    function hideshow(){
        var password = document.getElementById("password1");
        var slash = document.getElementById("slash");
        var eye = document.getElementById("eye");
        
        if(password.type === 'password'){
            password.type = "text";
            slash.style.display = "block";
            eye.style.display = "none";
        }
        else{
            password.type = "password";
            slash.style.display = "none";
            eye.style.display = "block";
        }

    }
</script>

<!-- iCheck -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>
<!-- Datatables -->
<script src="{{url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/jszip/dist/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js')}}"></script>
{% endblock %}
{% endblock %}