{% extends 'docente/plantilla.html' %}

{% block cabecera %}

<!-- Bootstrap -->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<!-- iCheck -->
<link href="{{url_for('static', filename='vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
<!-- Datatables -->

<link href="{{url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}"
    rel="stylesheet">
<link href="{{url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}"
    rel="stylesheet">

    <!-- FullCalendar -->
    <link href="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.print.css')}}" rel="stylesheet" media="print">



{% endblock %}

{% block titulo_contenido %}
<h3>Detalle de la Sesión de 
    {% if sesion %}
        {{sesion.seccion}}
    {% endif %}
</h3>
{% endblock %}

{% block contenido %}
<div class="x_content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                
                <p class="text-muted font-13 m-b-30">
                    Tabla de Sesiones
                </p>
  

                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if sesion %}
                                <div class="row">
                                    <div class="col-6"><h2>Seccion: {{sesion.seccion}}</h2></div>
                                    <div class="col-6"><h2>Nivel: {{sesion.nivel}}</h2></div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><h2>Fecha: {{sesion.fecha}}</h2></div>
                                    <div class="col-6"><h2>Hora: {{sesion.hora}}</h2></div>
                                </div>
                            {% endif %}
                            {% if detalle_sesion %}
                                <div class="row">
                                    <div class="col-6"><h2>Estudiantes Inscritos: {{detalle_sesion.inscritos}}</h2></div>
                                    <div class="col-6"><h2>Estudiantes que Cancelaron: {{detalle_sesion.cancelados}}</h2></div>
                                </div>
                                {% if detalle_sesion.asistieron > 0 or detalle_sesion.faltaron > 0 %}
                                    <div class="row">
                                        <div class="col-6"><h2>Estudiantes que Asistieron: {{detalle_sesion.asistieron}}</h2></div>
                                        <div class="col-6"><h2>Estudiantes que Faltaron: {{detalle_sesion.faltaron}}</h2></div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="row">
                                    <div class="col-6"><h2>Estudiantes Inscritos: 0</h2></div>
                                </div>
                            {% endif %}

                            
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="col">
                                {% if sesion.link %}
                                    <div class="row"><p>Link para la sesión: <a href="{{sesion.link}}" target="_blank">{{sesion.link}}</a></p></div>
                                    <div class="row"><button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                        data-target=".modal_agregar_link" id="boton_agregar_link">Modificar Link <i class="fa fa-edit"></i></button></div>
                                    
                                    
                                {% else %}
                                    <div class="row"><p>Sin link para la sesión disponible</p></div>
                                    <div class="row"><button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target=".modal_agregar_link" id="boton_agregar_link">Agregar Link <i class="fa fa-check"></i></button></div>
                                    
                                    
                                {% endif %}
                            </div>


                            <form action="/docente/sesiones/asistencia/{{sesion.id_sesion}}" method="POST" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="col-8">
                                        <p class="text-muted font-13 m-b-30">Estudiantes de la Sesión</p>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Asistio</th>
                                                    <th>Calificación</th>
                                                    <th>Notas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if detalle_sesion %}
                                                    {% if detalle_sesion.estudiantes %}
                                                        {% for estudiante_s in detalle_sesion.estudiantes %}
                                                            <tr>
                                                                <td>{{estudiante_s.id_estudiante}}</td>
                                                                <td>{{estudiante_s.nombres}}</td>
                                                                <td>{{estudiante_s.apellidos}}</td>
                                                                {% if estudiante_s.calificacion > 0%}
                                                                    <td><input type="checkbox" name="asistencias[]" class="checkbox-asistencia" value="{{estudiante_s.id_estudiante}}" data-estudiante-id="{{estudiante_s.id_estudiante}}" checked></td>
                                                                    <td><input type="number" id="nota-{{estudiante_s.id_estudiante}}" name="nota_{{estudiante_s.id_estudiante}}" min="0" max="100" step="1" value="{{estudiante_s.calificacion or 0}}"></td>
                                                                    <td><input type="text" id="recomendacion-{{estudiante_s.id_estudiante}}" name="recomendacion_{{estudiante_s.id_estudiante}}" placeholder="Notas o Recomendaciones para el siguiente tutor" value="{{estudiante_s.recomendacion or ''}}"></td>
                                                                {% else %}
                                                                    <td><input type="checkbox" name="asistencias[]" class="checkbox-asistencia" value="{{estudiante_s.id_estudiante}}" data-estudiante-id="{{estudiante_s.id_estudiante}}"></td>
                                                                    <td><input type="number" id="nota-{{estudiante_s.id_estudiante}}" name="nota_{{estudiante_s.id_estudiante}}" min="0" max="100" step="1" value="{{estudiante_s.calificacion or 0}}" readonly></td>
                                                                    <td><input type="text" id="recomendacion-{{estudiante_s.id_estudiante}}" name="recomendacion_{{estudiante_s.id_estudiante}}" placeholder="Notas o Recomendaciones para el siguiente tutor" value="{{estudiante_s.recomendacion or ''}}" readonly></td>
                                                                {% endif %}
                                                                
                                                                
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if detalle_sesion.cancelados %}
                                                        {% for estudiante_s in detalle_sesion.cancelados %}
                                                            <tr>
                                                                <td style="background-color: #990000;">{{estudiante_s.id_estudiante}}</td>
                                                                <td>{{estudiante_s.nombres}}</td>
                                                                <td>{{estudiante_s.apellidos}}</td>
                                                                <td>Cancelado</td>
                                                                <td><input type="number" value="0" disabled></td>
                                                                <td></td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6"><center>Ningun Estudiante Inscrito a la Sesión</center></td>
                                                    </tr>
                                                {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-4">
                                        <div id="contenedor_imagen">
                                            {% if sesion.imagen_url %}
                                                <img id="image-preview" src="{{ url_for('static', filename=sesion.imagen_url) }}" alt="Imagen actual" width="300px" />
                                            {% else %}
                                                <p>No hay imagen disponible</p>
                                            {% endif %}
                                        </div>
                                    
                                        <!-- Input para seleccionar la nueva imagen -->
                                        <div>
                                            <label for="image-input">Seleccionar nueva imagen:</label>
                                            <input type="file" id="image-input" name="image" accept="image/*">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">Guardar Asistencias</button>

                            </form>

                            <div class="col">
                                <h2>Tarea de la Sesión</h2>
                                <div>
                                    {% if tarea %}
                                        <p>{{tarea.descripcion}}</p>
                                        {% if tarea.material_adicional %}
                                            <a href="{{ url_for('docente_bp.download_file_h', filename=tarea.material_adicional) }}" target="_blank">
                                                <button class="btn btn-primary btn-sm">Descargar Archivo</button>
                                            </a>
                                        {% endif %}
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                            data-target=".modal_agregar_tarea" id="boton_agregar_tarea">Editar Tarea <i class="fa fa-edit"></i></button>
                                        <br>
                                        <p></p>
                                        {% if detalle_tareas %}
                                            <p class="text-muted font-13 m-b-30">Tareas Presentadas</p>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nombres</th>
                                                        <th>Apellidos</th>
                                                        <th>Tarea</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for d_tarea in detalle_tareas %}
                                                        <tr>
                                                            <td>{{d_tarea.id_estudiante}}</td>
                                                            <td>{{d_tarea.nombres}}</td>
                                                            <td>{{d_tarea.apellidos}}</td>
                                                            <td><a href="{{ url_for('docente_bp.download_file_h', filename=d_tarea.material_subido) }}" target="_blank">
                                                                <button class="btn btn-primary btn-sm">Ver Archivo</button>
                                                            </a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>Ningún Estudiante presento la Tarea hasta el momento </p>
                                        {% endif %}
                                        
                                    {% else %}
                                        <p>Sin tarea asignada para esta sesión</p>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target=".modal_agregar_tarea" id="boton_agregar_tarea">Agregar Tarea <i class="fa fa-check"></i></button>
                                    {% endif %}
                                </div>
                            </div>

                            
                
                        </div>
                    </div>
                </div>

                <div class="modal fade modal_agregar_link" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Link de la Sesión</h4>
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <form class="form-label-left input_mask formulario_sesiones"
                                    action="/docente/sesiones/link/{{sesion.id_sesion}}" method="POST" enctype="multipart/form-data">
                                    

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Link de la Sesión</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" name="link" value="{{sesion.link or ''}}" required>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            
                                            <button type="submit" class="btn btn-success">Enviar Link</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <!--button type="button" class="btn btn-primary">Save changes</button-->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade modal_agregar_tarea" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Tarea para la Sesión</h4>
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <form class="form-label-left input_mask formulario_sesiones"
                                    action="/docente/sesiones/tarea/{{sesion.id_sesion}}" method="POST" enctype="multipart/form-data">
                                    

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Descripción *</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            {% if tarea %}
                                                <input type="text" class="form-control" name="descripcion" value="{{tarea.descripcion or ''}}" required>
                                            {% else %}
                                                <input type="text" class="form-control" name="descripcion" required>
                                            {% endif %}
                                            
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 ">Material Adicional</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="file" name="material">
                                        </div>
                                    </div>

                                    

                                    <div class="ln_solid"></div>
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            
                                            <button type="submit" class="btn btn-success">Enviar Datos Tarea</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <!--button type="button" class="btn btn-primary">Save changes</button-->
                            </div>

                        </div>
                    </div>
                </div>

                


                

                


            </div>
        </div>
    </div>
</div>










{% endblock %}

{% block scripts_final %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nav_grupo = document.getElementById('nav_grupo_sesiones');
        nav_grupo.classList.add('active');
        const bloque = document.querySelector('#nav_grupo_sesiones ul');
        bloque.setAttribute('style', 'display: block;')
        const nav_sesiones = document.getElementById('nav_sesiones_dia');
        nav_sesiones.classList.add('current-page');
    });
</script>


<script>
    document.getElementById("image-input").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            const contenedor_imagen = document.getElementById("contenedor_imagen");
            reader.onload = function(e) {
                contenedor_imagen.innerText = ""
                const obj_imagen = document.createElement("img");
                obj_imagen.setAttribute("width", "200px");
                obj_imagen.src = e.target.result;
                contenedor_imagen.appendChild(obj_imagen)
                //document.getElementById("image-preview").src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Obtener todos los checkboxes
        const checkboxes = document.querySelectorAll('.checkbox-asistencia');
    
        // Añadir un listener de cambio a cada checkbox
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const estudianteId = checkbox.getAttribute('data-estudiante-id');
                
                // Obtener los inputs relacionados con este estudiante por su ID
                const inputNota = document.getElementById(`nota-${estudianteId}`);
                const inputRecomendacion = document.getElementById(`recomendacion-${estudianteId}`);
    
                // Si el checkbox está marcado, quitar el readonly
                if (checkbox.checked) {
                    inputNota.removeAttribute('readonly');
                    inputRecomendacion.removeAttribute('readonly');
                } else {
                    // Si no está marcado, agregar el readonly
                    inputNota.setAttribute('readonly', true);
                    inputRecomendacion.setAttribute('readonly', true);
                }
            });
        });
    });
</script>



<!-- iCheck -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>
<!-- Datatables -->
<script src="{{url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script
    src="{{url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/jszip/dist/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js')}}"></script>

<!-- FullCalendar -->
<script src="{{url_for('static', filename='vendors/moment/min/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/fullcalendar/dist/fullcalendar.min.js')}}"></script>
{% endblock %}