{% extends 'recepcionista/plantilla.html' %}

{% block cabecera %}
    
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slicknav.min.css')}}">

    
{% endblock %}

{% block titulo_contenido %}
    <h3>Inicio</h3>
{% endblock %}

{% block contenido %}

    <p>PRUEBA ZACELI</p>
    







    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const nav_inicio = document.getElementById('nav_inicio');
            nav_inicio.classList.add('current-page');  
        });
    </script>
{% endblock %}
